:root {
 --primary-color: #00BCD4;
 --primary-color-hover: #00ACC1;
 --primary-color-inverted: #B2EBF2;
}

::-moz-selection {
background: #00BCD4;
}
::selection {
  background: #00BCD4;
}
/* == Forms == */
.wojo.form textarea:focus,
.wojo.form input:not([type]):focus,
.wojo.form input[type="date"]:focus,
.wojo.form input[type="datetime-local"]:focus,
.wojo.form input[type="email"]:focus,
.wojo.form input[type="number"]:focus,
.wojo.form input[type="password"]:focus,
.wojo.form input[type="search"]:focus,
.wojo.form input[type="tel"]:focus,
.wojo.form input[type="time"]:focus,
.wojo.form input[type="text"]:focus,
.wojo.form input[type="url"]:focus,
.wojo.form input[type="text"]:focus,
.wojo.form select:focus {
  box-shadow: 0 0 0 3px rgba(0, 188, 212, .5);
}
.wojo.input.focus {
  box-shadow: 0 0 0 3px rgba(0, 188, 212, .5);
}
/* == Utility == */
.logoshape1,
.logoshape3 {
  fill: #B2EBF2!important;
}