:root {
 --primary-color: #3f51b5;
 --primary-color-hover: #3949AB;
 --primary-color-inverted: #C5CAE9;
}

::-moz-selection {
background: #3f51b5;
}
::selection {
  background: #3f51b5;
}
/* == Forms == */
.wojo.form textarea:focus,
.wojo.form input:not([type]):focus,
.wojo.form input[type="date"]:focus,
.wojo.form input[type="datetime-local"]:focus,
.wojo.form input[type="email"]:focus,
.wojo.form input[type="number"]:focus,
.wojo.form input[type="password"]:focus,
.wojo.form input[type="search"]:focus,
.wojo.form input[type="tel"]:focus,
.wojo.form input[type="time"]:focus,
.wojo.form input[type="text"]:focus,
.wojo.form input[type="url"]:focus,
.wojo.form input[type="text"]:focus,
.wojo.form select:focus {
  box-shadow: 0 0 0 3px rgba(63, 81, 181, .5);
}
.wojo.input.focus {
  box-shadow: 0 0 0 3px rgba(63, 81, 181, .5);
}
/* == Utility == */
.logoshape1,
.logoshape3 {
  fill: #C5CAE9!important;
}